@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// some basic resets
// you can load different types
// of prebuilt for that
body {
  padding: 10;
  margin: 0;
  font-family: Roboto, sans-serif;

}
